.aboutContainer {
  min-height: calc(100dvh - 75px);
  position: relative;

  h1 {
    margin-top: 20px;
    text-align: center;
  }
}

.mapContainer {
  width: 30%;
  margin-left: auto;
  margin-right: 50px;
  position: relative;
}

@media screen and (width <500px) {
  .aboutContainer {
    height: calc((var(--dvh, 1dvh) * 90));
  }
  .mapContainer {
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .map {
    height: 40dvh !important;
  }
}
