.contactContainer {
  min-height: calc(100dvh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

.contactContainer h1 {
  margin-top: 20px;
}
.formsContainer {
  position: relative;
  width: 100%;
  flex: 1;
}

.formLoader {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}

form {
  margin: 0 auto;
  width: 30%;
  background-color: #ef8011;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
  gap: 10px;
}

input {
  padding: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  width: 70%;
  border-radius: 5px;
  position: relative;
}

textarea {
  border: none;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  width: 70%;
  border-radius: 5px;
  padding: 5px;
  height: 100px;
  font-family: inherit;
}

input::placeholder,
textarea::placeholder {
  color: black;
}

input:focus,
textarea:focus,
form button:focus {
  outline: 1px solid #ffff00;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: yellow;
  border-radius: 5px;
}

form button {
  font-size: 16px;
  padding: 10px;
  margin: 20px 0;
  width: 70%;
  position: relative;
  transition: 300ms;
  z-index: 1;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  overflow: hidden;
  background-color: #555;
  color: white;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.3);
}

form button::after {
  content: '';
  width: 0%;
  height: 99%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #cc9e20;
  border-radius: 10px;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: -1;
}

form button:hover::after {
  width: 100%;
}
form button:hover {
  color: black;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

label::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 1px;
  color: red;
}

label,
input {
  margin-bottom: 10px;
  position: relative;
}

.errorMsg {
  color: rgb(147, 5, 5);
  font-weight: 800;
  margin: 0;
  animation: showError 400ms ease forwards,
    error 500ms alternate-reverse infinite;
}

.submitError {
  position: absolute;
  top: 10%;
  right: 5%;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  color: red;
  animation: disappear 500ms ease-out forwards 3s;
}

@keyframes disappear {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

small:last-of-type {
  bottom: -20px;
}

input:first-of-type:invalid:focus {
  outline: 1px solid red;
}

@keyframes showError {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: inline;
    opacity: 1;
  }
}

@keyframes error {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}

@media screen and (width <500px) {
  .contactContainer {
    height: calc((var(--dvh, 1dvh) * 90));
    gap: 0;
  }
  form {
    width: 90%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  input,
  textarea {
    width: 100%;
  }

  .formsContainer {
    margin: 0;
  }
}

@media screen and (width <300px) {
  h1 {
    font-size: 24px;
  }

  .contactContainer {
    overflow: hidden;
  }
}
