.homeContainer {
  width: 100%;
  height: calc(100dvh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 20px 0 50px;
  }

  .logo {
    max-width: 500px;
    width: 30vw;
    filter: drop-shadow(0 8px 3px rgba(0, 0, 0, 0.5));
  }
}

.homeTitle {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  container-type: inline-size;

  p {
    font-size: 6cqi;
    color: #3f1209;
    font-family: 'Bruno Ace', cursive;
  }
}

.homeContainer::after {
  content: '';
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;

  backdrop-filter: blur(6px);
}

.submitMsg {
  margin: 0 auto;
  color: #ef8011;
  position: absolute;
  left: 50%;
  font-family: inherit;
  top: 15%;
  transform: translateX(-50%);
  animation: disappear 500ms ease-out forwards 3s;
  padding: 15px;
  background-color: #444;
  border-radius: 10px;
}

@keyframes disappear {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@media screen and (width <500px) {
  .submitMsg {
    font-size: 24px;
    width: 90%;
    text-align: center;
  }
}

@media screen and (width<=950px) and (height<500px) {
  .homeContainer h1 {
    margin: 0;
  }
}
