.notFound {
  font-size: 32px;
  color: aqua;
  animation: notfound 1s infinite ease alternate-reverse;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  margin-top: 20vh;
}

@keyframes notfound {
  from {
    transform: scale(1);
    color: aqua;
  }
  to {
    transform: scale(1.4);
    color: red;
  }
}

.errorPic {
  width: 60%;
  max-width: 800px;
  position: absolute;
  left: 50vw;
  top: 20vh;
  filter: drop-shadow(1px 2px 1px white);
  transform: translateX(-50%);
}
