.hexContainer {
  width: 90%;
  height: 45%;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 620px;
}

.row {
  // display: flex;
  gap: 0;
  overflow: hidden;
  height: calc(50% - 5px);
  position: relative;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: -10%;
}

.hexagon {
  // flex: 1;
  // width: 35cqi;
  position: relative;
  // height: 40cqmin;
  width: 350px;
  height: 100%;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:last-of-type {
  position: relative;
  left: 175px;
}

.hexagon::before {
  background-color: rgba(255, 0, 0, 0.731);
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  content: '';
  position: absolute;
  left: 2.5px;
  display: block;
  z-index: -1;
  top: 2.25px;
}

.hexagon,
.hexagon::before {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

@media screen and (width<=1368px) {
  .row {
    height: calc(40% - 5px);
    width: 100%;
  }
  .hexagon {
    // height: 32.5cqmin;
    width: 300px;
  }
  .row:last-of-type {
    position: relative;
    left: 150px;
  }
}

@media screen and (width<=900px) {
  .hexContainer {
    width: 100%;
  }
  .row {
    height: calc(35% - 5px);
    width: 100%;
  }
  .hexagon {
    // height: 32.5cqmin;
    width: 250px;
  }
  .row:last-of-type {
    position: relative;
    left: 125px;
  }
}

@media screen and (width<=768px) {
  .hexContainer {
    width: 100%;
  }
  .row {
    height: calc(30% - 5px);
    width: 100%;
  }
  .hexagon {
    // height: 32.5cqmin;
    width: 200px;
  }
  .row:last-of-type {
    position: relative;
    left: 100px;
  }
}
@media screen and (width<=500px) {
  .hexContainer {
    transform: rotate(90deg);
    min-height: initial;
    height: 90%;
  }
  .hexagon {
    width: 225px;
  }
  .row:last-of-type {
    position: relative;
    left: 25%;
  }
}

@media screen and (width>= 1921px) {
  .hexagon {
    // height: 45cqmin;
  }
}
