.hexContainer {
  width: 90%;
  height: 45%;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 620px;
  flex: 1;
}

.row {
  gap: 0;
  overflow: hidden;
  height: calc(30% - 5px);
  position: relative;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: -10%;
  max-height: 181px;
}

.hexagon {
  position: relative;
  width: 225px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.048);
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.3));
  transition: 300ms ease;
  max-height: 180px;
}

.hexagon:active,
.hexagon:focus {
  transform: scale(0.95);
  outline: none;
}

.row:last-of-type {
  position: relative;
  left: 115px;
}

.hexagon::before,
.hexagon::after {
  background-color: #cd911a;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  content: "";
  transform: scale(1.03);
  position: absolute;
  left: 2.5px;
  display: block;
  z-index: -1;
  top: 2.25px;
}

.hexagon::after {
  background-color: transparent;
  filter: invert(6%) sepia(33%) saturate(6730%) hue-rotate(358deg) brightness(87%) contrast(94%);
}

.hexagon,
.hexagon::before {
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexagon:after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
}

.abouthex:after {
  background-image: url("/imgs/onama.png");
}

.galleryhex:after {
  background-image: url("/imgs/galerija.png");
}

.productshex:after {
  background-image: url("/imgs/proizvodi.png");
  background-position: 60% 40%;
}

.contacthex:after {
  background-image: url("/imgs/kontakt.png");
}

@media screen and (width <= 1368px) {
  .row {
    height: 30cqi;
    width: 100%;
  }
  .hexagon {
    max-height: 250px;
    height: 30cqi;
  }
  .row:last-of-type {
    position: relative;
    left: 150px;
  }
}
@media screen and (width <= 900px) {
  .hexContainer {
    width: 100%;
  }
  .row {
    height: calc(35% - 5px);
    width: 100%;
    max-height: 30cqi;
  }
  .hexagon {
    width: 35cqi;
  }
  .row:last-of-type {
    position: relative;
    left: 125px;
  }
}
@media screen and (width <= 768px) {
  .hexContainer {
    width: 100%;
  }
  .row {
    height: calc(30% - 5px);
    width: 100%;
  }
  .hexagon {
    width: 200px;
    width: 35cqi;
  }
  .row:last-of-type {
    position: relative;
    left: 100px;
  }
}
@media screen and (width <= 500px) {
  .hexContainer {
    transform: rotate(90deg);
    min-height: initial;
    height: 90%;
    justify-content: center;
  }
  .hexagon {
    width: 250px;
    height: 45cqi;
  }
  .row {
    max-height: 45cqi;
  }
  .row:last-of-type {
    position: relative;
    left: 25%;
  }
  .contacthex:after,
  .abouthex:after,
  .productshex:after,
  .galleryhex:after {
    transform: rotate(270deg);
  }
}
@media screen and (width <= 400px) {
  .hexagon {
    width: 200px;
  }
  .row:last-of-type {
    position: relative;
  }
}
@media screen and (width <= 400px) and (height < 700px) {
  .hexContainer {
    width: 90%;
    align-items: normal;
    justify-content: center;
  }
  .hexagon {
    height: 40cqi;
  }
  .row:last-of-type {
    position: relative;
  }
  .row {
    height: calc(35% - 5px);
    width: 100%;
    max-height: 40cqi;
  }
}
@media screen and (width <= 950px) and (height < 500px) {
  .hexContainer {
    width: 100%;
    flex-direction: row;
    min-height: 250px;
    align-items: initial;
  }
  .row {
    height: 20cqi;
    width: 100%;
    margin: 0;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .hexagon {
    width: 20cqi;
    height: 17cqi;
    max-height: 150px;
  }
  .row:last-of-type {
    position: relative;
    left: 0;
  }
}
@media screen and (width >= 1921px) {
  .hexContainer {
    width: 100%;
    height: 65%;
  }
  .row {
    height: calc(35% - 5px);
    width: 100%;
    max-height: none;
  }
  .hexagon {
    width: 400px;
    max-height: none;
  }
  .row:last-of-type {
    position: relative;
    left: 225px;
  }
}/*# sourceMappingURL=HexagonMenu.module.css.map */