* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}
#root {
  overflow: hidden;
  min-height: 100vh;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('./imgs/pic6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 20%;
  position: relative;
  z-index: 1;
}

body {
  min-height: 100vh;
  position: relative;
}

ul {
  list-style-type: none;
  align-items: center;
}
li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

form {
  margin: 0 auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  box-shadow: 0 2px 10px 2px rgba(255, 255, 255, 0.2);
  gap: 10px;
}

input {
  padding: 5px;
  border: none;
  background-color: #555;
  color: white;
  width: 50%;
  border-radius: 5px;
  position: relative;
}

textarea {
  border: none;
  background-color: #555;
  color: white;
  width: 50%;
  border-radius: 5px;
  padding: 5px;
  height: 100px;
  font-family: inherit;
}

input::placeholder,
textarea::placeholder {
  color: black;
}

input:focus,
textarea:focus,
form button:focus {
  outline: 1px solid #ffff00;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: yellow;
  border-radius: 5px;
}

form button {
  font-size: 16px;
  padding: 10px;
  margin: 20px 0;
  width: 50%;
  position: relative;
  transition: 300ms;
  z-index: 1;
  overflow: hidden;
}

form button::after {
  content: '';
  width: 0%;
  height: 99%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: yellow;
  border-radius: 10px;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: -1;
}

form button:hover::after {
  width: 100%;
}

.productName {
  position: relative;
  font-size: 24px;
}

.productName::after {
  content: '';
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 300ms ease;
  background-color: yellow;
}

.productName:hover::after {
  width: 100%;
}

.productList {
  margin-top: 20px;
}
.productItem {
  padding: 10px;
}

label,
input {
  margin-bottom: 10px;
  position: relative;
}

.errorMsg {
  color: red;
  margin: 0;
  animation: showError 400ms ease forwards,
    error 500ms alternate-reverse infinite;
}

small:last-of-type {
  bottom: -20px;
}

input:first-of-type:invalid:focus {
  outline: 1px solid red;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes showError {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: inline;
    opacity: 1;
  }
}

@keyframes error {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}

label::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 1px;
  color: red;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  background-color: rgba(0, 0, 0, 0.488);
  width: initial !important;
  left: 50% !important;
  position: absolute !important;
  transform: translateX(-50%) !important;
  padding: 5px 10px;
  border-radius: 10px;
}

.swiper-pagination-bullet {
  background-color: yellow !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffff00 !important;
  background-color: rgba(0, 0, 0, 0.281);
  width: 50px !important;
  height: 50px !important;
  border-radius: 10px;
}

.mySwiper {
  border-radius: 10px;
  width: 80%;
  height: 85%;
  margin-top: 50px;
}

.cardsSwiper {
  margin-top: 5%;
  width: 30% !important;
  max-width: 500px;
  max-height: 450px;
  border-radius: 10px;
  /* /* } */
}
.cardsSwiper .swiper-slide {
  border-radius: 10px;
}

@media (width <500px) {
  .mySwiper {
    position: absolute !;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    margin: 0;
  }

  .cardsSwiper {
    width: 75% !important;
    margin: 0 !important;

    /* left: 0%; */
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 24px !important;
  }
}

@media screen and (width <= 500px) {
  form {
    margin-top: 20px;
    width: 90%;
  }

  input,
  textarea {
    width: 100%;
  }

  .page {
    background-position: center;
  }
}
